name: Create PR to other repository

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.get_tag.outputs.result }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set tag
        uses: ./.github/actions/set-calendar-version-tag
      - name: Get tag for output
        id: get_tag
        run: echo "result=$(git describe --tags | awk -F'-' '{print $1}')" >> $GITHUB_OUTPUT
  create-pr:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Echo tag
        env:
          TAG: ${{ needs.build.outputs.tag }}
        run: echo "$TAG"
      - name: Clone the target repository
        uses: actions/checkout@v3
        with:
          repository: 'yun-minho/kustomize-example'
          ref: 'main'
          path: 'kustomize-example'
