name: Create PR to other repository

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.get_tag.outputs.result }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set tag
        uses: ./.github/actions/set-calendar-version-tag
      - name: Get tag for output
        id: get_tag
        run: echo "result=$(git describe --tags | awk -F'-' '{print $1}')" >> $GITHUB_OUTPUT
  create-pr:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Echo tag
        env:
          TAG: ${{ needs.build.outputs.tag }}
        run: echo "$TAG"
      - name: Clone the target repository
        uses: actions/checkout@v3
        with:
          repository: 'yun-minho/kustomize-example'
          ref: 'main'
          path: 'kustomize-example'
          ssh-key: ${{ secrets.OTHER_REPO_DEPLOY_KEY }}
      - run: |
          echo "${{ secrets.GITHUB_TOKEN }}"
      - name: Create PR to the target repository
        env:
          TAG: ${{ needs.build.outputs.tag }}
        run: |
          # 共通変数などのセット
          BRANCH_NAME="update-repo-$TAG"
          
          cd kustomize-example
          
          # コミッターの情報セット
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

          # ブランチ作成及びチェックアウト
          git switch -c $BRANCH_NAME
          
          # 対象レポジトリの内容に対して何かしらの修正
          echo $TAG >> ./temp/tag.txt

          # Commit と Push
          git add .
          git commit -m "Add $TAG to tags.txt"
          git push origin $BRANCH_NAME

          # 対象レポジトリに PR を作成
          gh pr create \
            --title "Update tags.txt" \
            --body "Add $TAG to tags.txt" \
            --repo yun-minho/kustomize-example \
            --base main \
            --head $BRANCH_NAME
